<!-- Se crea una carpeta llamada "Template/landing" o "Template/nombre_de_tu_app" para que Djando reconozca que es un template-->
<!--  Fragmento de configuración para Visual Studio Code que permite utilizar Emmet con plantillas Django

    "emmet.includeLanguages": {        
    "django-html": "html"    
} 

-->
<!-- Archivo Template, las vistas muestran este archivo de codigo -->

<!-- El landing page se convirtio a una Herencia de Templates o BLOCK TAG  -->
<!-- Este template llama al archivo "base.html" -->
<!--  -->
{% extends "base.html" %}


{% block title %}
    Landing Page
{% endblock %}

{% block content %}

    {% if name == "Ricardo" %}
        <h1>¡Hola Profe!</h1>
        <h2>Nombre: {{ name | title }}</h2>
    {% elif name == "Fernando" %}
        <h1>¡Hola Fernando!</h1>
    {% else %}
        <h1>¡Hola Invitado!</h1>
    {% endif %}

        <p>Edad: {{age}}</p>

        <p>Fecha: {{today | date:"d/m/y"}}</p>

        <p>Stack de tecnologías: </p>
    <ul>
        {% for tool in stack %}
            <li><a href="{% url 'stack_detail' tool.id %}">{{tool.name}}</a></li>
        {% empty %}
            <li>No hay tecnologias disponibles</li>
        {% endfor %}
    </ul>

{% endblock content %}

